// Colors
$color-white: #fff;
$color-black: #3f3f3f;
$color-primary: #396cb3;
$color-secondary: #ec986e;
$color-blue-medium: #1e4281;
$color-blue-medium-1: #1a85c1;
$color-blue-dark: #1c396c;
$color-blue-bright: #4ecde4;
$color-blue-light: #b5c6df;
$color-blue-light-1: #92b3d6;
$color-grey-1: #bec2cc;
$color-grey-2: #99a0ab;
$color-highlight: #ffd15c;
$color-marker: #f16722;
$color-red: #ff5858;
$color-red-light: #fae5e5;
$color-green: #40af65;
$color-yellow: #e2c623;
$color-red-dark: #992727;
$color-background: #f5f8fd;
$color-overlay: rgba(51, 97, 159, 0.5);

// Sizes
$header-height: 7.4rem;
$input-values-height: 14.3rem;
